exportPattern("^[[:alpha:]]+")
importFrom("RMySQL", "dbConnect")
importFrom("RMySQL", "dbSendQuery")
importFrom("RMySQL", "dbFetch")
importFrom("RMySQL", "dbDisconnect")
importFrom("RMySQL", "dbClearResult")
